

//color

$colorMain: #4F392D;
$colorText: #413431;
$colorBtn: #EBB018;
$bgColor: #F5F3F0;
$bgColorDark: #58534A;
$bgColorDarkOpacity: rgba(88, 83, 74, 0);

$bgColorDark2: #543F32;

//colorGradient

$gradientFirstColor: #FFD27B;
$gradientSecondColor: rgba(255, 222, 158, 0.85);
